[submodule "themes/avicenna"]
	path = themes/avicenna
	url = https://github.com/hadisinaee/avicenna.git
[submodule "public"]
	path = public
	url = https://github.com/shiki-sato/shiki-sato.github.io
	branch = master
